.project
workspace/.tmp
workspace/.metadata
workspace/TelcoServices/.project
workspace/TelcoServicesRegistry/.project
workspace/TelcoServicesRegistry/.meta
workspace/TelcoServicesRegistry/.settings
workspace/TelcoServicesRegistry/.classpath
workspace/TelcoServicesRegistry/target
workspace/TelcoServicesCompositeApplication/.project
workspace/TelcoServicesCompositeApplication/target
